SERVER_URL=localhost
SERVER_PORT=3000
DATABASE_URL=localhost
DATABASE_PORT=3306
DATABASE_USER=root
DATABASE_PASSWORD=your-psw
DATABASE_DB=your-db
MAIL_USER=your-mail
MAIL_PASSWORD=your-app-password
ADMIN_EMAIL=your-mail